body {
    margin: 0;
    padding: 0;
    background-image: url('img/flower.jpg');
    background-color: #ffb6c1;
    font-family: 'Great Vibes', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #ff69b4;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.video-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photo-slider {
    width: 90%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    border-radius: 10px;
}

.slide.active {
    opacity: 1;
}

.message-container {
    text-align: center;
    font-size: 24px;
    color: rgb(233, 118, 214);
    margin-top: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    .button {
        font-size: 20px;
        padding: 12px 24px;
    }
    video {
        width: 95%;
    }
    .container{
        margin-top: 20px;
    }
    .photo-slider {
        height: 350px;
        width: 250px;
    }
    .message-container {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    .button {
        font-size: 18px;
        padding: 10px 20px;
    }
    .container{
        margin-top: 20px;
    }
    .photo-slider {
        height: 300px;
        width: 200px;
    }
    .message-container {
        font-size: 16px;
    }
}
